mixin home
    a(name="whatwedo")
    .home
        .container.container--lg
            .home__wrapper-content
                .home__content
                    .row
                        .col-xl-6.col-lg-6.col-sm-12.col-12
                            .home__header
                                .headline
                                    h1.headline__title Why Choose Us
                                    p.headline__subtitle Tion and dislike men who are so beguiled and demoralized by desire by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee
                                    p.headline__subtitle Dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that.
                                    button.headline__btn 
                                        p.headline__btn--text Explore PLACES
                                            //- img(src="../dist/img/whoweare-glass-button.png", alt="glass background on button").headline__btn--bg
                        .col-xl-6.col-lg-6.col-sm-12.d-md-none.d-lg-block
                            .row
                                .col-xl-6.offset-xl-2.col-lg-5.offset-lg-2.col-sm-12.offset-sm-0.d-flex.justify-content-sm-center.col-12.offset-0
                                    img(src="../dist/img/whoweare-img1.png", alt="house on the river")
                            .row
                                .col-xl-6.offset-xl-5.col-lg-4.offset-lg-4.col-sm-12.offset-sm-0.d-flex.justify-content-sm-center.col-12.offset-0
                                    img(src="../dist/img/whoweare-img2.png", alt="mountains")

                                    //- ONLY MD below
                        .d-none.d-md-block.d-lg-none
                            .row
                                .col-md-6
                                    img(src="../dist/img/whoweare-img1.png", alt="house on the river")
                                .col-md-6
                                    img(src="../dist/img/whoweare-img2.png", alt="mountains")