mixin home-sutisfy
    .home-sutisfy
        .container
            .home-sutisfy__wrapper
                .home-sutisfy__block
                    .row
                        .col-4
                            i.fas.fa-search.home-sutisfy__block--icon1
                            p.home-sutisfy__block--text Search Places
                        .col-4
                            i.far.fa-check-circle.home-sutisfy__block--icon2
                            p.home-sutisfy__block--text Select Places
                        .col-4
                            i.far.fa-thumbs-up.home-sutisfy__block--icon3
                            p.home-sutisfy__block--text Book & Enjoy