mixin footer
    .footer
        .container.container--lg
            .footer__wrapper
                .row
                    .col-12
                        footer.footer__info
                            h2.footer__info--title Bhromaon
                            p.footer__info--text Safe Travel Anywhere
                            ul.footer__info-icons
                                li.footer__info-icons--item
                                    a(href="javascript:void(0)")
                                        i.fab.fa-facebook-f
                                li.footer__info-icons--item
                                    a(href="javascript:void(0)")
                                        i.fab.fa-twitter
                                li.footer__info-icons--item
                                    a(href="javascript:void(0)")
                                        i.fab.fa-linkedin-in
                                li.footer__info-icons--item
                                    a(href="javascript:void(0)")
                                        i.fab.fa-youtube
                                li.footer__info-icons--item
                                    a(href="javascript:void(0)")
                                        i.fab.fa-pinterest