mixin quote-section
    .quote-section
        .container
            .quote-section__wrapper
                .row
                    .col-12
                        .quote-section__header
                            h2.quote-section__header--title What Our  Tourist Say

                .quote-section__content
                    .row.no-gutters
                        .col-xl-5.col-lg-6
                            img(src="../dist/img/quote-section img.png", alt="man looking at mountains").quote-section__content--img
                        .col-xl-7.col-lg-6
                            .quote-section__content-wrapper
                                h2.quote-section__content--title Sam Sumon
                                i.fas.fa-quote-left 
                                p.quote-section__content--text But I must explain to you how all this mistaken idea of account to denouncinpleasure and praising pain  But I must explain to you how all this mistaken idea of account to nai denouncing pleasure and praising pain was account  born and I account will give you a complete account of the system was account  born and I account will give you a nai the complete account of the system